*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
:root{
    --bg-color: #101010;
    --secound-bg-color: #191919;
    --text-color:#fff;
    --secound-color:#c6c9d8bf;
    --main-color: #f9004d;
    --big--font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font:1.1rem;


}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}
.logo{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;

}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 25px;

}
.navbar a::after{
    content: '';
    position: absolute; 
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;

}
.h-btn{
    padding: 0px 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}
.h-btn:hover{
    transform: translateY(-5px);
}
section{
    padding: 120px 15%;
}
.home{
     height: 100vh;
     width: 100%;
     background: url(../Myportfolio/img/background.jpg);
     background-size: cover;
     background-position: center;
     align-items: center;
     display: grid;
     grid-template-columns: repeat(1,1fr);

}
.home-text h1{
    margin: 20px 0px 20px;
    font-size: 70px;
}
span{
    color: var(--main-color);
}
.home-text h3{
    margin-bottom: 55px;
    font-size: 25px;
}
.home-text h4{
    color: #585c63;
    font-size: 20px;
    letter-spacing: 2px;
}
.newslatter form{
    width: 300px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
}